/* * {
  font-size: larger;
  color: blueviolet;
}

img {
  height: 350px;
}

div h2 {
  color: brown;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.styledElement {
  background-color: yellow;
}

div,.styledElement {
  background-color: red;
}

* {
  font-size: larger;
}



h1 {
  color: chocolate;
}

.styledElement {
  color: chartreuse !important;
}

#spanId {
  color: aqua;
}

span {
  color: blueviolet;
}

* {
  font-size: larger;
  color: blueviolet;
} */

.padding-10 {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

