.flex-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* justify-content: flex-start; */
  /* align-items: center; */
  border: 1px solid #a99f34;
}

.container-1 {
  height: 50px;
  width: 80px;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  background-color: yellow;
}

.container-2 {
  min-height: 100px;
  width: 80px;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  background-color: yellow;
}

.container-3 {
  height: 150px;
  width: 80px;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  background-color: yellow;
}

.container-4 {
  height: 200px;
  width: 80px;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  background-color: yellow;
}

.container-5 {
  height: 250px;
  width: 80px;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  background-color: yellow;
}